<p>player-score works!</p>

{{ hubHelloMessage }}

<button (click)="signalrService.helloWithConnectionFromServer()">
  helloServerWithConnection
</button>
<br />
<button (click)="signalrService.helloFromServer()">helloServer</button>

<h1>Leaderboard</h1>

<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>PlayerId</th>
        <th>Rank</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Score</th>
        <th>Country</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="playerScoreWithNeighborsDto?.previous">
        <td>{{ playerScoreWithNeighborsDto?.previous?.playerId }}</td>
        <td>{{ playerScoreWithNeighborsDto?.previous?.rank }}</td>
        <td>
          {{ playerScoreWithNeighborsDto?.previous?.firstName }}
        </td>
        <td>
          {{ playerScoreWithNeighborsDto?.previous?.lastName }}
        </td>
        <td>{{ playerScoreWithNeighborsDto?.previous?.score }}</td>
        <td>{{ playerScoreWithNeighborsDto?.previous?.country }}</td>
      </tr>
      <tr ngClass="current-player">
        <td>{{ playerScoreWithNeighborsDto?.currentPlayerScore?.playerId }}</td>
        <td>{{ playerScoreWithNeighborsDto?.currentPlayerScore?.rank }}</td>
        <td>
          {{ playerScoreWithNeighborsDto?.currentPlayerScore?.firstName }}
        </td>
        <td>
          {{ playerScoreWithNeighborsDto?.currentPlayerScore?.lastName }}
        </td>
        <td>{{ playerScoreWithNeighborsDto?.currentPlayerScore?.score }}</td>
        <td>{{ playerScoreWithNeighborsDto?.currentPlayerScore?.country }}</td>
      </tr>
      <tr *ngIf="playerScoreWithNeighborsDto?.next">
        <td>{{ playerScoreWithNeighborsDto?.next?.playerId }}</td>
        <td>{{ playerScoreWithNeighborsDto?.next?.rank }}</td>
        <td>
          {{ playerScoreWithNeighborsDto?.next?.firstName }}
        </td>
        <td>
          {{ playerScoreWithNeighborsDto?.next?.lastName }}
        </td>
        <td>{{ playerScoreWithNeighborsDto?.next?.score }}</td>
        <td>{{ playerScoreWithNeighborsDto?.next?.country }}</td>
      </tr>
    </tbody>
  </table>
</div>
